<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout::head">
    <meta charset="UTF-8">
    <title>Tạo mới sản phẩm</title>
</head>
<body>
<h1>Tạo sản phẩm mới</h1>
<p><a href="/products">Danh sách sản phẩm</a></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create-product}" th:object="${productForm}" method="post" enctype="multipart/form-data">
    <table id="products">
        <tr>
            <td>Tên sản phẩm:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Mã sản phẩm:</td>
            <td><input type="text" th:field="*{code}"/></td>
        </tr>
        <tr>
            <td>Giá sản phẩm($):</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Mô tả:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Ảnh sản phẩm:</td>
            <td><input type="file" th:field="*{image}" multiple/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Tạo"></td>
        </tr>
    </table>
</form>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>