<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout :: head"></head>
<body>
<h3> Xem thông tin sản phẩm</h3>
<p>
    <a th:href="@{/products}">
        Quay lại danh sách sản phẩm
    </a>
</p>

<div id="form">
    <form action="#"  th:object="${product}" novalidate="novalidate" enctype="multipart/form-data">
        <div>
            <label>Ảnh sản phẩm</label>
            <img width="150px" height="150px" th:src="@{'/i/' + ${product.image}}"/>
        </div>
        <div>
            <label>Mã sản phẩm</label>
            <input type="text" disabled th:field="*{code}"/>
        </div>

        <div>
            <label>Tên sản phẩm</label>
            <input type="text" disabled th:field="*{name}"/>
        </div>
        <div>
            <label>Giá sản phẩm($)</label>
            <input type="text" disabled th:field="*{price}"/>
        </div>
        <div>
            <label>Mô tả</label>
            <input type="text" disabled th:field="*{description}"/>
        </div>

        <p><a th:href="@{/shoppingcart/ordernow/__${product.id}__}">Mua ngay</a></p>
    </form>
</div>
<footer th:replace="product/layout :: footer"></footer>
</body>
</html>